.header{
  flex-wrap: nowrap;
}

/* hamburger menu */

input,
label {
  display: none;
}

@media screen and (max-width: 800px) {
  ul{
    display:none;
  }
  label{
    display: block;
  }
  #burger:checked + ul{
    display:block;
  }
}

/* Content Media queries */

@media (min-width: 500px) {
  .row{
    max-width: 1200px;
  }
	.header,
  .row,
  .row2 {
		width: 100%;
		margin: 0 auto;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    align-items: center;
	}
  .col{
    flex:1;
  }
}

@media (min-width: 1200px) {
	.header,
	.row {
		width: 100%;
		/* max-width: 1150px; */
	}
  .header {
    flex-direction: row;
    justify-content: space-between;
    }
}


@media (max-width: 500px){
  .row,
  .row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/******************************
Styling
*******************************/

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

button{
  width: 200px ;
  justify-content: center;
}

body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	color: #000;
	padding-left: 0%;
	padding-right: 0%;
  background: #e8e9e9;
  flex-direction:column;
}

.main-footer{
  text-align: center;
  background: #e8e9e9;
}

.header {
  background: gray;
  padding: 0;
  margin: 0 ;
  display: flex;
  justify-content: space-between;
}

.nav {
  list-style: none;
}

.nav li {
  margin: 12px 0 12px 28px;
  display: inline-block;
}

.nav li a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}

.nav li a:hover {
  color: rgba(255,255,255,0.7);
}


#welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.section{
  text-align: center;
}

.row,
.row2 {
  margin:0 auto;
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
  margin: 45px auto;
}

.main-footer{
  	margin-top: 30px;
}

*{
    margin: 0;
    padding: 0;
}

