* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  font-style: normal;
  box-sizing: border-box;
}

.checkout_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
}
.checkout_span {
  background-color: #3f3a3a;
  border: 0.1px solid;
  margin-bottom: 25px;
}
.checkout_span_mobile {
  display: none;
}

.cart_container_header {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3f3a3a;
  margin-bottom: 16px;
}
.cart_container_title_Cart {
  margin-right: 468px;
}
.cart_container_title_Amount {
  margin-right: 160px;
}
.cart_container_title_Price {
  margin-right: 160px;
}

/* Product Info */
.productInfo_contentBox {
  border: 1px solid #979797;
  margin-bottom: 50px;
}
.productInfo_section {
  width: 100%;
  margin-bottom: 50px;
}
.productInfo_section_mobile {
  display: none;
}
.productInfo_mainInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 30px;
}
.productInfo_mainInfo_right {
  display: flex;
  flex-direction: column;
  width: 113px;
  margin-right: 242px;
  margin-bottom: auto;
}

.productInfo_mainInfo_textandimg,
.productInfo_mainInfo_numberandremove {
  display: flex;
}
.productInfo_mainInfo_numberandremove {
  align-items: center;
}

.productInfo_img {
  margin-right: 16px;
}
.productInfo_img img {
  width: 114px;
}

.productInfo_name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3f3a3a;
  margin-bottom: 18px;
}
.productInfo_id {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 22px;
}
.productInfo_color,
.productInfo_size {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
}

.productInfo_ProductAmount {
  background: #f3f3f3;
  border: 1px solid #979797;
  border-radius: 8px;
  width: 80px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #3f3a3a;
  padding-left: 16px;
  margin-right: 56px;
}
.productInfo_ProductAmountSelect {
  font-size: 14px;
  line-height: 16px;
  color: #3f3a3a;
}
.productInfo_price {
  width: 192px;
  text-align: center;
}
.productInfo_subtotal {
  width: 192px;
  text-align: center;
  margin-right: 52px;
}
.cart_remove {
  cursor: pointer;
}
.cart_remove_mobile {
  display: none;
}
.cart_container_header_mobile {
  display: none;
}

/* Order Info */
.orderInfo_contentBox {
  margin-bottom: 23px;
}
.orderInfo_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3f3a3a;
  margin-bottom: 16px;
}
.orderInfo_name {
  display: flex;
}
.orderInfo_phone,
.orderInfo_address,
.orderInfo_email,
.orderInfo_time {
  display: flex;
  margin-bottom: 30px;
}
.orderInfo_name p,
.orderInfo_phone p,
.orderInfo_address p,
.orderInfo_email p,
.orderInfo_time p {
  width: 120px;
  font-size: 16px;
  line-height: 19px;
  color: #3f3a3a;
}
.orderInfo_name_input,
.orderInfo_phone_input,
.orderInfo_address_input,
.orderInfo_email_input,
.orderInfo_time_input {
  width: 576px;
  height: 32px;
  border: 1px solid #979797;
  border-radius: 8px;
  padding-left: 16px;
}
.orderInfo_reminder {
  font-size: 16px;
  line-height: 19px;
  color: #8b572a;
  margin-bottom: 30px;
  margin-left: 344px;
}
.orderInfo_time_Input {
  width: 16px;
  height: 16px;
  border: 1px solid #979797;
  margin-right: 8px;
}
.orderInfo_time_Input_label0,
.orderInfo_time_Input_label1,
.orderInfo_time_Input_label2 {
  margin-right: 32px;
}

/* Payment Info */
.paymentInfo_contentBox {
  margin-bottom: 20px;
}
.paymentInfo_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3f3a3a;
  margin-bottom: 16px;
}
.paymentInfo_cardnumber,
.paymentInfo_valid,
.paymentInfo_code {
  display: flex;
  margin-bottom: 30px;
}
.paymentInfo_cardnumber p,
.paymentInfo_valid p,
.paymentInfo_code p {
  width: 120px;
  font-size: 16px;
  line-height: 19px;
  color: #3f3a3a;
}
.paymentInfo_cardnumber input,
.paymentInfo_valid input,
.paymentInfo_code input {
  width: 576px;
  height: 32px;
  border: 1px solid #979797;
  border-radius: 8px;
  padding-left: 16px;
}

/* Summary */
.summary_Area {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.confirm_btn {
  width: 240px;
  height: 64px;
  background: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 4px;
  color: #ffffff;
  margin-left: auto;
  margin-bottom: 148px;
  cursor: pointer;
}
.confirm_btn_mobile {
  display: none;
}
.summaryArea_productsPrice {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.summaryArea_productsPrice p,
.summaryArea_transportPrice p,
.summaryArea_totalPrice p {
  font-size: 16px;
  line-height: 19px;
  color: #3f3a3a;
}
.summaryArea_productsPrice span,
.summaryArea_transportPrice span,
.summaryArea_totalPrice span {
  font-size: 30px;
  line-height: 36px;
  color: #3f3a3a;
}
.summaryArea_nt {
  margin-left: auto;
  margin-right: 8px;
}
.summaryArea_transportPrice {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.summaryArea_totalPrice {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

/* Mobile Version breakpoint: 1280px */
@media (max-width: 1279px) {
  p {
    letter-spacing: 0px;
  }
  .checkout_wrapper {
    width: 90vw;
    padding-top: 0;
  }
  .checkout_span_mobile {
    display: block;
    background-color: #3f3a3a;
    border: 0.1px solid;
    margin: 20px 0 20px 0;
  }
  .productInfo_section_desktop {
    display: none;
  }
  .productInfo_section_mobile {
    display: block;
  }
  .cart_container_title_Cart_mobile {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #3f3a3a;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .productInfo_contentBox {
    border: 0;
  }

  /* Product Info */
  .productInfo_mainInfo {
    flex-direction: column;
    align-items: normal;
    border: 0;
    padding: 0;
  }
  .cart_container_header_mobile {
    display: flex;
    justify-content: space-between;
  }
  .productInfo_mainInfo_textandimg {
    width: 100%;
    justify-content: space-between;
  }
  .productInfo_mainInfo_numberandremove {
    justify-content: space-between;
  }
  .productInfo_mainInfo_right {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-bottom: auto;
  }
  .cart_container_title_Amount,
  .cart_container_title_Price,
  .cart_container_title_totalPrice {
    width: 104px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3f3a3a;
    margin-right: 0;
  }
  .productInfo_price,
  .productInfo_subtotal {
    width: 104px;
  }
  .productInfo_subtotal {
    margin-right: 0;
  }
  .cart_remove {
    display: none;
    cursor: pointer;
  }
  .cart_remove_mobile {
    display: block;
    cursor: pointer;
    margin-top: -10px;
  }
  .productInfo_ProductAmount {
    margin-left: 16px;
    margin-right: 0;
  }

  /* Order Info */
  .orderInfo_name {
    flex-direction: column;
    margin-bottom: 0;
  }
  .orderInfo_phone,
  .orderInfo_address,
  .orderInfo_email,
  .orderInfo_time {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .orderInfo_name p,
  .orderInfo_phone p,
  .orderInfo_address p,
  .orderInfo_email p,
  .orderInfo_time p {
    margin-bottom: 10px;
  }
  .orderInfo_name input,
  .orderInfo_phone input,
  .orderInfo_address input,
  .orderInfo_email input,
  .orderInfo_time input {
    width: 100%;
  }
  .orderInfo_reminder {
    font-size: 14px;
    margin-left: 0;
  }
  .orderInfo_time_InputAll {
    display: flex;
    align-items: center;
  }
  .orderInfo_time_Input_label0,
  .orderInfo_time_Input_label1,
  .orderInfo_time_Input_label2 {
    font-size: 14px;
    line-height: 26px;
    color: #3f3a3a;
    margin-right: 26px;
  }
  .orderInfo_time input {
    width: 10px;
  }

  /* Payment Info */
  .paymentInfo_cardnumber,
  .paymentInfo_valid,
  .paymentInfo_code {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .paymentInfo_cardnumber p,
  .paymentInfo_valid p,
  .paymentInfo_code p {
    margin-bottom: 10px;
  }
  .paymentInfo_cardnumber input,
  .paymentInfo_valid input,
  .paymentInfo_code input {
    width: 100%;
  }

  /* Summary */
  .summary_Area {
    width: 240px;
  }
  .confirm_btn {
    display: none;
  }
  .confirm_btn_mobile {
    display: block;
    width: 90vw;
    height: 44px;
    background: #000000;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3.2px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 28px;
    cursor: pointer;
  }
}
