* {
  box-sizing: border-box;
}

.ProductContainer {
  padding-bottom: 49px;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.productDetails {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 22px;
}

.productPhoto {
  width: 60%;
  padding-right: 20px;
}
.productPhoto img {
  width: 100%;
}
.productInfo {
  width: 40%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.productColor {
  display: flex;
}

.productStock {
  display: flex;
}

/* Split style */
.info_line {
  height: 1px;
  border-top: 1px solid #3f3a3a;
  text-align: center;
}
.productSplit {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
}
.grid {
  width: 100%;
  border: 0.5px solid #3f3a3a;
  margin-left: 24px;
  margin-right: 24px;
}

/* Word style */
.productName {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 6.4px;
  color: #3f3a3a;
  padding-bottom: 16px;
}
.productID {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 4px;
  color: #bababa;
  padding-bottom: 40px;
}
.productPrice {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #3f3a3a;
  padding-bottom: 20px;
}
.productSplit {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #8b572a;
  padding-top: 28px;
  padding-bottom: 28px;
}
.productStory {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #3f3a3a;
  padding-bottom: 30px;
}
.productSize,
.productNumber {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 4px;
  color: #000000;
  padding: 20px 0 20px 0;
}
.productColor {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 4px;
  color: #000000;
  padding: 30px 0 20px 0;
}
.boxWord {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #3f3a3a;
  /* margin: 20px 0 20px 0; */
}
.productNote,
.productDescription {
  padding-bottom: 20px;
}

.purchaseBtn {
  width: 100%;
  height: 64px;
  background: #000000;
  border: 1px solid #979797;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 4px;
  color: #ffffff;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

/* Product Color Style */
.productColor {
  align-items: center;
}
/* No border: Not selected color */
.colorSelect {
  width: 36px;
  height: 36px;
  border: 0px solid #979797;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
/* With border: Show the selected color */
.colorSelectShow {
  width: 36px;
  height: 36px;
  border: 1px solid #979797;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.colorBox {
  width: 24px;
  height: 24px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

/* Product Size Style */
.productSize {
  display: flex;
  align-items: center;
}
.productWrapper {
  display: flex;
  margin-left: 5px;
}
/* Size available not selected / 中間色 */
.productSize_Select {
  width: 36px;
  height: 36px;
  background: #ececec;
  border-radius: 16px;
  color: #3f3a3a;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
/* Size selected / 深色 */
.productSize_Selected {
  width: 36px;
  height: 36px;
  background: #000000;
  border-radius: 16px;
  color: #ffffff;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  padding-left: 11px;
  margin-right: 20px;
  cursor: pointer;
}
/* Size not available / 淺色 */
.productSize_NoStock {
  width: 36px;
  height: 36px;
  background: rgba(236, 236, 236, 0.25);
  border-radius: 16px;
  color: rgba(63, 58, 58, 0.25);
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  padding-left: 12px;
  margin-right: 20px;
}

/* Counter Style */
.productNumber {
  display: flex;
  align-items: center;
}
.counterWrapper {
  display: flex;
  align-items: center;
  height: 44px;
  width: 160px;
  border: 1px solid #979797;
  margin-left: 24px;
}
.counterWrapper button {
  width: 100%;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
}
.number {
  flex-grow: 1;
  text-align: center;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #8b572a;
  padding-left: 50px;
  padding-right: 50px;
}

.productImages {
  margin-bottom: 30px;
}

/* Mobile Version breakpoint: 1280px */
@media (max-width: 1279px) {
  .ProductContainer {
    padding: 0;
  }
  .productDetails {
    flex-direction: column;
    padding-bottom: 0;
  }
  .productPhoto {
    width: 100%;
    padding: 0;
  }
  .productInfo,
  .productShow {
    width: 100%;
    padding: 24px;
  }
  .productSplit {
    width: 100%;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3.2px;
    color: #8b572a;
    padding-left: 24px;
  }

  /* Word style */
  .productName {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 4px;
    color: #3f3a3a;
    padding-bottom: 10px;
  }
  .productID {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.2px;
    color: #bababa;
    padding-bottom: 20px;
  }
  .productPrice {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3f3a3a;
  }
  .productSplit {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3px;
    color: #8b572a;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .productStory {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #3f3a3a;
  }
  .productColor,
  .productSize,
  .productNumber {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.8px;
    color: #3f3a3a;
  }
  .boxWord {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3f3a3a;
  }
  .productNote,
  .productDescription {
    padding-bottom: 20px;
  }

  .productNumber {
    padding: 10px 0 0 0;
  }
  .productDesktopWord {
    display: none;
  }
  .counterWrapper {
    width: 100%;
    margin-left: 0;
  }

  .purchaseBtn {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3.2px;
    color: #ffffff;
    margin: 10px 0 20px 0;
    height: 44px;
  }
  .productImages {
    margin-bottom: 20px;
  }
}
