* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
}

/* Mobile Version breakpoint: 1280px */
@media (max-width: 1279px) {
  .main {
    margin-bottom: 60px;
  }
  img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  /* product change */
  #product {
    margin: auto;
    margin-top: 15px;
  }
  .box {
    width: 45%;
    padding: 0px 0px 24px 0px;
  }
  p {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 2.4px;
    font-weight: 400;
    font-size: 12px;
  }
  .colorAll {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
  }
  .colorPoint {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
  }
  .box:nth-child(odd) {
    margin-right: 6px;
  }

  /* footer change */
  .footicon {
    display: none;
  }
  .foot {
    display: none;
  }
  .mobile-menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  .mobile-menu li a {
    color: #d3d3d3;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
  }
  .footicon-mobile {
    display: flex;
    align-items: center;
  }
  .copyright {
    text-align: center;
  }
  .line,
  .twitter,
  .facebook {
    width: 20px;
    height: 20px;
  }
  .container {
    width: 1160px;
  }
  .main-footer {
    width: 330px;
  }
}
