extends layout 

block content 
       form(action='/myName', method='post') 
        label Please enter your name: 
          input(type='test', name='username')
        button(type='submit') Submit

